/* You can add global styles to this file, and also import other style files */

body, html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("assets/toulouse2.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: scroll;
    overflow-y: scroll;
}

.jumbotron-billboard {
    opacity: 0.8;
    color: #fff;
    background: #000 center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

.table-top {
    opacity: 0.9;
    color: #fff;
    background: #000 center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

.table-content {
    opacity: 0.7;
    color: #fff;
    background: #000 center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

.data-sidebar {
    opacity: 0.7;
    background: #000 center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

.dropdown-content {
    opacity: 0.7;
    background: #000;
    width: 100%;
}
.navbar-custom {
    opacity: 0.9;
    color: #fff;
    background: #000 center center;
    overflow: hidden;
    width: 100%;
}

@media (min-width: 979px) {
  .navbar-custom {
    position: fixed ;
  }
}

.btn-custom {
    opacity: 0.9;
    color: #fff;
    background: #000 center center;
    overflow: hidden;
    width: 100%;
}

@media (min-width: 979px) {
  .custom-sidebar-1 {
    position: fixed !important;
    overflow-y: auto;
  }
}

@media (min-width: 979px) {
  .custom-sidebar-2 {
    position: fixed !important;
    overflow: hidden;
    margin-top: 180px
  }
}

.custom-middle-col {
    margin-left: 150px;
    margin-top:   0px;
    overflow: hidden;
}

@media (max-width: 979px) {
  .custom-middle-col {
    margin-left: -15px;
    margin-top: 10px;
    overflow: hidden;
  }
}

.custom-middle-col2 {
    margin-left: 200px;
    margin-top: 0px;
    overflow: hidden;
}

@media (max-width: 979px) {
  .custom-middle-col2 {
    margin-left: 0px;
    margin-top: 10px;
    overflow: hidden;
  }
}

.custom-table {
    overflow: hidden;
}

@media (max-width: 979px) {
  .custom-table {
    overflow-x: scroll;
  }
}


@media (max-width: 979px) {
#menu {
    line-height: 40%
  }
}

@media (min-width: 979px) {
  #container {
    margin-top: 60px;
    height:calc(100% - 60px);
    width:100%;
    overflow:scroll;
  }
}

@media (max-width: 979px) {
  #container {
    margin-top: 5px;
    height: 100%;
    width:100%;
  }
}

.custom-dropdown {
    margin-left: 300px;
    height: 30px;
}

@media (max-width: 979px) {
  .custom-dropdown {
    margin-left: -15px;
    margin-top: 10px;
    height: 30px;
  }
}

::-webkit-scrollbar { 
    display: none; 
}

html {overflow:-moz-hidden-unscrollable;}