<form (submit)=onAddContact()>
  <td class="col-xs-8 col-sm-8 col-md-4 col-lg-4">
  	<div class="form-group">
  		<input type="text" placeholder="First Name" name="first_name" [(ngModel)]="first_name" class="form-control">
  	</div>
  </td>
  <td class="col-xs-8 col-sm-8 col-md-4 col-lg-4">
  	<div class="form-group">
  		<input type="text" placeholder="Last Name" name="last_name" [(ngModel)]="last_name" class="form-control">
  	</div>
  </td>
  <td class="col-xs-8 col-sm-8 col-md-3 col-lg-3">
  	<div class="form-group">
  		<input type="text" placeholder="Email" name="email" [(ngModel)]="mail_address" class="form-control">
  	</div>
  </td>
  <td class="col-xs-4 col-sm-3 col-md-1 col-lg-1">
  	<div class="form-group">
  		<input type="submit" class="btn btn-custom" value="add">
  	</div>
  </td>
</form>
